# -------------------
# NEXT
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# -------------------
# SANITY
NEXT_PUBLIC_SANITY_PROJECT_NAME="PLACEHOLDER_PROJECT_NAME"
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2021-03-25"
SANITY_API_READ_TOKEN=""
SANITY_WRITE_TOKEN=""

# -------------------
# WEBHOOKS & DEPLOYMENT
SANITY_WEBHOOK_SECRET=""
NETLIFY_BUILD_HOOK_URL=""
QSTASH_TOKEN=""

# -------------------
# ANALYTICS & TRACKING
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID="GTM-XXXXXX"
# NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
# NEXT_PUBLIC_HUBSPOT_ID=""
# NEXT_PUBLIC_SEGMENT_ID=""
# NEXT_PUBLIC_FACEBOOK_PIXEL_ID=""
# NEXT_PUBLIC_HOTJAR_ID=""

# -------------------
# CLAUDE CODE / MCP
FIGMA_PERSONAL_ACCESS_TOKEN=
LINEAR_TEAM_ID="MAM"
LINEAR_PROJECT_ID=""
SLACK_COLLAB_CHANNEL_ID=""
