/** CSS Reset **/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
fieldset,
form,
label,
legend,
article,
canvas,
figure,
figcaption,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: auto;
  scroll-behavior: auto;
}

:focus-visible {
  outline: 2px solid var(--primary-500);
  outline-offset: 2px;
}
