/*=============================================>>>>>
= Typography Mixins and Variables =
===============================================>>>>>*/

@mixin heading-font() {
  font-family: var(--heading-font), sans-serif;
}

@mixin body-font() {
  font-family: var(--body-font), sans-serif;
}

@mixin default-type-styles() {
  @include body-font();
  font-size: 16px;
  font-size-adjust: auto;
  text-align: left;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-shadow: 0 0 1px transparent;
}
